<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/variables.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <!--nav class="navbar">
      <h1 class="logo"><%= title %></h1>
    </nav-->
    <% include mainhead %>

    <main class="main-container">
      <h2 class="subtitle"><%= subtitle %></h2>
      <section class="section">
        <% advertisements.forEach(advertisement => { %>
        <div class="card">
          <p class="card-title"><%= advertisement.name.toUpperCase() %></p>
          <div class="card-content">
            <p class="card-sale">
              <% if(advertisement.sale) { %> 
                Se vende 
              <% } else{ %> 
                Se busca <% }
              %>
            </p>
            <img class="card-image" src="<%=advertisement.image %>" />
            <p class="card-price"><%= advertisement.price %> €</p>
            <ul class="card-list-tags">
              <% advertisement.tags.forEach(tag => { %>
                <li class="item-list-tags"> <%= tag %> </li> 
              <% }) %>
            </ul>
          </div>
        </div>
        <% }) %>
      </section>
    </main>
  </body>
</html>
