<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% advertisements.forEach(advertisement => { %>
      <div>
        <p> <%= advertisement.name.toUpperCase() %> </p>
        <p> <% if(advertisement.sale) { %> 
          Se vende 
        <% } else{ %>
              Se busca
        <% } %> </p>
        <p><%= advertisement.price %> €</p>
        <img src="<%=advertisement.image %>"/> 
        <p>
          <% advertisement.tags.forEach(tag => { %>
            <%= tag %> 
          <% }) %> </p>
      </div>
    <% }) %>
  </body>
</html>
